@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --astra-color-fur-primary: #34609f;
  --astra-color-fur-secondary: #bbe1ff;
  --astra-color-nose-ear: #f9b0d8;
  --astra-color-eyes: #1c54b1;
  --astra-color-hair-primary: #132e47;
  --astra-color-hair-secondary: #6df0c9;
}

body {
  margin-top: 0;
  background: #03101c;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

main {
  background-color: rgb(4.4806451613, 23.8967741935, 41.8193548387);
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

div.astra-header {
  margin-top: 1rem !important;
  max-height: 120px;
  max-width: 640px;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  border-radius: 50px;
}
div.astra-header img.astra-header-img {
  object-fit: cover;
  object-position: center;
  transform: translate(0, -270px);
}
@media (width <= 500px) {
  div.astra-header img.astra-header-img {
    transform: scale(1.3) translate(-100px, -140px);
  }
}

nav.nav {
  max-width: 640px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: auto;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(4.4806451613, 23.8967741935, 41.8193548387);
  border-radius: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav.nav > a {
  flex: 1;
  text-align: center;
  border-radius: 50px;
  padding: 1rem;
  background-color: var(--astra-color-hair-primary);
  text-decoration: none;
}

nav.nav > a > li {
  list-style: none;
}

a {
  color: #6df0c9;
}

a li.active {
  color: lightgray;
  cursor: default;
  text-decoration: overline;
}

.sidebar-container {
  display: grid;
  grid-template-areas: "sidebarleft main sidebarright" ". footer .";
}
.sidebar-container .sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(4.4806451613, 23.8967741935, 41.8193548387);
  padding: 1rem;
  height: 500px;
  width: 300px;
}
@media (width <= 1550px) {
  .sidebar-container .sidebar {
    width: 80% !important;
    height: auto !important;
  }
}
.sidebar-container .sidebar-left {
  grid-area: sidebarleft;
  justify-self: end;
}
.sidebar-container .sidebar-right {
  grid-area: sidebarright;
  justify-self: start;
}
@media (width > 1550px) {
  .sidebar-container main {
    margin-top: 150px;
  }
}
.sidebar-container main {
  grid-area: main;
}
.sidebar-container footer {
  grid-area: footer;
}
@media (width <= 1550px) {
  .sidebar-container {
    grid-template-areas: "sidebarleft main" "sidebarright sidebarright" "footer footer";
  }
  .sidebar-container .sidebar-left, .sidebar-container .sidebar-right {
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (width <= 1120px) {
  .sidebar-container {
    grid-template-areas: "main" "sidebarleft" "sidebarright" "footer";
  }
}